<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="/assets/img/logo.png" width="30" height="30" alt=""
        class="me-2">ИПР: визуализация версий документов</a>

    <div class="d-flex">
      <button class="btn btn-outline-primary" id="">Войти</button>
    </div>
  </div>
</nav> -->
<div class="container-fluid">
  <router-outlet></router-outlet>
  <app-toast aria-live="polite" aria-atomic="true"></app-toast>
</div>